.nav-hover {
    color: white;
}
.nav-hover:hover .nav-link {
    color: black !important;
    background-color: white !important;
}

.navbar-toggler {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
