@page "/about"
<h3>About</h3>
<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <p>This is an Inventory Management application built with Blazor and .NET 10.</p>
    <p>Version 1.0.0</p>
    <p>Developed by Omar Algassim</p>
</div>
@code {

}
