@page "/requests"

<div class="border border-1 h-dvh rounded align-content-around justify-content-between flex-wrap border-black p-4 d-flex flex-column">
    <div>
        <p class="mt-4 fs-1">اجمالي الطلبات</p>
    </div>
    <div class="p-2 fs-2 text-end fw-bolder d-flex justify-content-around align-items-center">
        @TotalClientsCount
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="blue" class="bi bi-card-checklist"
            viewBox="0 0 16 16">
            <path
                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
            <path
                d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
        </svg>
    </div>
</div>

@code {
    private int TotalClientsCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Simulate fetching total clients count from a service
        await Task.Delay(500);
        TotalClientsCount = 100; // This would typically come from a database or API
    }
}