
<div class="border border-1 h-dvh rounded align-content-around justify-content-between flex-wrap border-black p-4 d-flex flex-column">
    <div>
        <p class="mt-4 fs-1">إجمالي العملاء</p>
    </div>
    <div class="p-2 fs-2 text-end fw-bolder d-flex justify-content-around align-items-center">
        @TotalClientsCount
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="purple" class="bi bi-people-fill"
            viewBox="0 0 16 16">
            <path
                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
        </svg>
    </div>
</div>

@code {
    private int TotalClientsCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Simulate fetching total clients count from a service
        await Task.Delay(500);
        TotalClientsCount = 100; // This would typically come from a database or API
    }
}